*{
    margin: 0;
    padding: 0;
    font-size: 'Poppins',sans-serif;
}
#menu-overlay{
    position: fixed;
    /* 设置这四个等于0，相当于铺开了整个空间 
    不设置的话，menu-overlay就在左上角
    设置的话，menu-overlay就在正中间
    起到了一个块状的居中的效果
    并且整个版面都是这个menu-overlay
    宽高都起码是1005
    */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    /* 自动处理溢出的内容 */
    /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/overflow-y */ 
    transform: scale(0);
    transition: 0.5s;
}
/* 这部分就是整个缩放的过程 */
/* 注意中间不能有空格，不然会变成下一级的关系
    也不能单纯的留下active
    因为这样优先级不够
*/
#menu-overlay.active{
    transform: scale(1);
}
/* 缩放结束 */
#menu-overlay  ul li{
   list-style: none;
   text-align: center;
}
#menu-overlay ul{
    position: relative;
}
#menu-overlay  ul li a{
    text-decoration: none;
    position: relative;
    font-size: 3.5em;
    padding: 10px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
   
    /* 块级元素(block)：独占一行，
    对宽高的属性值生效；如果不给宽度，块级元素就默认为浏览器的宽度，即就是100%宽。 
    行内元素(inline)：可以多个标签存在一行，对宽高属性值不生效，完全靠内容撑开宽高。
    行内块元素(inline-block)：结合的行内和块级的优点，既可以设置长宽，可以让padding和margin生效，又可以和其他行内元素并排。
    */
}
#menu-overlay  ul li a:before{
    /*  向右收缩 */
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background: lightcyan;
    /* transform属性允许你旋转，缩放，倾斜或平移给定元素。 */
    /* translateY在页面里面垂直移动元素 */
    /* scaleX() CSS 函数将每个元素点的横坐标修改为一个常数因子，除了该比例因子为1，在这种情况下，函数是身份变换。 缩放不是各向同性的，并且元素的角度不保守。是一个缩放的效果 */
    transform: translateY(-50%) scaleX(0);
    /* 更改一个元素变形的原点。 */
    transform-origin: right;
    /*  duration | timing function  */
    transition: 0.5s transform;
}
#menu-overlay  ul li a:hover:before{
    /*  向右拉开 */
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}
#toggleIcon{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: lightblue;
    z-index: 10000;
    /* 在鼠标指针悬停在元素上时显示相应样式 */
    cursor: pointer;
}
#toggleIcon.active{
    background: white;
}
