body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
h1{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
p::selection{
    background-color: lightblue;
    color: lightgoldenrodyellow;
}
h1::selection{
    background-color: lightpink;
    color: lemonchiffon;
}